figure{
	display: inline-block;
	width: 30%;
  	margin: 5px;
}

figcaption{
	font-size: 30px;
	margin-bottom: 50px;
}

header{
	margin: 10px;
	text-align: center;
}

.logo{
	width: 130px;
}

h1{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.btn{
	margin: 20px;
	font-size: 30px;
	color: white;
}

.clickable{
	cursor: pointer;
}

footer{
	display: inline;
}
