figure{
	display: inline-block;
	width: 30%;
  	margin: 5px;
}

figcaption{
	font-size: 30px;
	margin-bottom: 50px;
}

/*.photoSeule{
	width: 80%;
  	margin: 5px;
}

.photosDefault{
	width: 15%;
  	margin: 5px;
}*/

h1{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.btn{
	margin: 20px;
	font-size: 30px;
	color: white;
}

.clickable{
	cursor: pointer;
}

/*#def img{
	border-width: 4px;
	border-color: red;
	border-style: solid;
	border-radius: 4px;
}*/