<<<<<<< HEAD
h1{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.btn{
	margin: 20px;
	font-size: 30px;
	color: white;
}
body{
	background-color: lightgrey;
}

header{
	margin: 10px;
	text-align: center;
}

img{
	width: 200px;
}

section{
	margin: 10%;
	margin-top: 10px;
}

form{
	margin-top: 50px;
	text-align: center;
}

h2{
	text-decoration: underline;
}

input{
	margin: 10px;
}

.form-control-file{
	display: inline; 
	width: 50%;
=======
h1{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.btn{
	margin: 20px;
	font-size: 30px;
	color: white;
}
body{
	background-color: lightgrey;
}

header{
	margin: 10px;
	text-align: center;
}

img{
	width: 200px;
}

section{
	margin: 10%;
	margin-top: 10px;
}

form{
	margin-top: 50px;
	text-align: center;
}

h2{
	text-decoration: underline;
}

input{
	margin: 10px;
}

.form-control-file{
	display: inline; 
	width: 50%;
>>>>>>> 8bf5d2ded82a132b6010906dcebb201012c38e03
}