body{
	background-color: lightgrey;
}

header{
	margin: 10px;
	text-align: center;
}

section{
	margin: 10%;
	margin-top: 10px;
}

.btn{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-bottom: 15px;
}