
figure{
	display: inline-block;
	width: 15%;
  	margin: 5px;
}

figcaption{
	font-size: 20px;
	margin-bottom: 50px;
}

.photos{
  	width: 15%;
  	margin: 5px;
}

.photoSeule{
	width: 80%;
  	margin: 5px;
}

h1{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.btn{
	width:130px;
	margin: 20px;
	font-size: 30px;
	color: white;
}

.clickable{
	cursor: pointer;
}

#def img{
	border-width: 4px;
	border-color: red;
	border-style: solid;
	border-radius: 4px;
}

#err{
    color: #a80000;
    font-weight: bold;
    display: none;
}
